<div class="text-center">
  <h1>メールアドレスでログインする</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: 'form-control', placeholder: "パスワード(6〜16文字)" %>
    </div>
      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
