/*共通の設定*/
ul {
  list-style: none;
}


/* main画像部分 */

.top-wrapper {
    width: 100%;
    height: 500px;
    background-image: url("https://search.find47.jp/ja/i/WcMzR/image_file?type=detail_thumb");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.46;
    padding-top: 20px;
    margin: 15px auto;
}
.top-wrapper span{
    background: hsla(0,0%,100%,.8);
    font-size: 48px;
    line-height: 1;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 11px;
    font-weight: bold;
    word-break: break-all;
    margin-left: 150px;
}


/*snsicon画像*/
.sns-icon {
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  float: right;
  margin-top: 30px;
}
.fa-facebook-f {
  display: inline-block;
  color: #4267B2 ;
  font-size: 28px;
  padding-bottom: 5px;
}
.fa-twitter {
  display: inline-block;
  color: rgba(0, 172, 237, 1) ;
  padding-left: 10px;
  font-size: 35px;
}
.fa-instagram {
  display: inline-block;
  color: rgb(225,48,108) ;
  padding-left: 10px;
  font-size: 35px;
  margin-right: 20px;
}


/*おすすめのコース*/

.recommend {
  display: block;
  margin-top: 60px;
  height: 800px;
}
.recommend-title {
  position: relative;
  top: 20px;
}
.fa-shoe-prints {
  font-size: 40px;
  padding-right: 15px;
  padding-left: 10px;
}
.recommend h2 {
  display: inline-block;
}
.recommend-course {
  display: table-cell;
  width: 20%;
  border: 1px solid #CCCCCC;
  height: 315px;
}
.btn-show {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  display: block;
  width: 200px;
  height: 25px;
  margin: 30px auto 0;
  padding: 14px 32px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  color: #000;
  background-color: rgb(242, 239, 236);
  padding-bottom: 30px;
}
.btn:hover {
    color: #4d4d4d;
    background-color: #f6f4f2;
}
.parent-table {
  display: table;
  width: 100%;
}
.special-menu {
  display: table-cell;
  width: 30%;
  border: 1px solid #CCCCCC;
  border-top: 3px solid #A4C6FF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
}
.special-menu li {
  color: #000;
  padding-bottom: -50px;
}
.special-menu input {
  /*チェックボックスを隠す*/
  display: none;
}
.menu-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.menu-border {
  height: 85px;
  border: 1px solid #CCCCCC;
  padding: 12px 0px 12px 70px;
  line-height: 84px;
  text-align: left;
}
.arrow-right {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  float: right;
  vertical-align: middle;
  position: relative;
  top: 40px;
}


/*新着コース*/

.newpost {
  display: block;
  margin-top: 60px;
  height: 1000px;
}
.fa-bell {
  font-size: 55px;
  padding-right: 15px;
  padding-left: 10px;
  position: relative;
  top: 8px;
}
.newpost h2 {
  display: inline-block;
}
.parent-table {
  display: table;
  width: 100%;
  height: 310px;
  border-collapse: separate;
  border-spacing: 10px 0;
  margin-bottom: 20px;
}
.new-course {
  display: table-cell;
  width: 33%;
  border: 1px solid #CCCCCC;
}
