// コースの作成フォーム全体にかかる
.course_form {
  margin: 80px 75px 40px 75px;
}

// コースのタイトル部分
.course_title_form {
  border: 1px solid #808080;
}
.course_explanation{
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  width: 300px;
  padding: 10px 10px;
}
.title_transmit_form {
  display: inline-block;
  padding: 2px 10px;
  font-size: 20px;
}

// コースイメージ部分
.course_image {
  border: 1px solid #808080;
  height: 350px;
  position: relative;
}
.course_image_explanation {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  width: 300px;
}
.submitted_courseimage {
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-right: 40px;
}
.course_image_button {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}

// コースの説明部分
.course_description {
  border: 1px solid #808080;
  height: 300px;
}
.course_description_explanation {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  width: 300px;
  height: 50px;
  padding-top: 10px;
}
.description_transmit_form {
  display: block;
  border: 1px solid #808080;
}
// 最初と最後のsaveボタン
.first_save_button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  float: right;
  width: 25%;
  line-height: 20px;
  padding: 10px 0;
  margin-top: -10px;
}

// spotの登録画面全体
.spot_entry_form {
  padding-bottom: 70px;
}
// １つ目のスポット登録画面
.spot_form {
  margin: 90px 75px 60px 75px;
}
// スタート地点の駅名登録画面
.first_spot {
  height: 60px;
  font-size: 20px;
  position: relative;
  margin-top: 100px;
}
.start_station_explanation {
  display: inline-block;
  border: 1px solid #808080;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.start_station {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  padding: 13px 84px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.first_time_required {
  height: 60px;
  font-size: 20px;
  position: relative;
}
.spot_time_required_explanation {
  display: inline-block;
  border: 1px solid #808080;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
}
.spot_time_required {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  padding: 13px 84px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.zero_spot {
  height: 60px;
  font-size: 20px;
  position: relative;
  margin-top: 100px;
}

.spot_name {
  display: inline-block;
  border: 1px solid #808080;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
}

.spot_timerequired_explanation {
  display: inline-block;
  border: 1px solid #808080;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
}

.image_map {
  border: 1px solid #808080;
  padding-bottom: 5px;
}
.spot_image_visual {
  display: inline-block;
  border: 1px solid #808080;
  height: 300px;
  width: 50%;
  text-align: center;
  padding-top: 300px;
  margin-top: 10px;
  position: relative;
}
.submitted_spotimage {
  position: absolute;
  top: 15px;
  left: 40px;
}
.map_visual {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  padding-right: 40px;
}
.map_button {
  text-align: center;
  padding-left: 40px;
}
.map_address {
  display: inline-block;
}
.map_submit_button {
  display: inline-block;
}
.start_place {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  padding: 13px 84px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.spot_description {
  height: 60px;
  font-size: 20px;
  position: relative;
}
.description_title {
  display: inline-block;
  border: 1px solid #808080;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.description_form {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  padding: 15px 95px;
  width: 100%;
  padding-top: 70px;
}

.transittime {
  height: 60px;
  font-size: 20px;
  position: relative;
  margin-top: 90px;
  margin-bottom: -80px;
}
.spot_transittime_explanation {
  display: inline-block;
  border: 1px solid #808080;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;

}
.next_to_transittime {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  padding: 13px 84px;
  position: absolute;
  right: 0;
  bottom: 0;
}
// 保存ボタン
.save_button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  float: right;
  width: 25%;
  line-height: 20px;
  padding: 10px 0;
  margin-top: 70px;
}

// walkcourse_partial部分
.walkcourse_partial {
  border: 1px solid #808080;
  margin-top: -18px;
  padding-bottom: 50px;
  
}
.media-body {
  position: relative;
  border: 1px solid #808080;
  margin: 10px 10px;
}
.usershow_course_image {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}
.usershow_course_part {
  display: inline-block;
  width: 48%;
  position: absolute;
  top: 0;
  margin: 10px 10px 0 10px;
}
.usershow_title {
  border: 1px solid #808080;
  height: 50px;
  font-size: 20px;
}
.usershow_description {
  border: 1px solid #808080;
  height: 200px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user_edit_button {
  padding: 5px 70px;
  margin-left: 75px;
}
.user_destroy_button {
  padding: 5px 70px;
  margin-left: 150px;
}
.paginate_button {
  float: right;
  margin-right: 10px;
}

// walkcourse_show_page
.walkcourse_show {
  margin-top: 50px;
  font-size: 20px;
  position: relative;
}
.course_title {
  font-size: 22px;
  display: inline-block;
  border: 1px solid #808080;
  width: 550px;
  height: 50px;
  text-align: center;
  line-height: 250%;
  border-bottom: none;
}
.favorite_button {
  display: inline-block;
  position: absolute;
  top: 2px;
}
.walkcourse_show_contents {
  border: 1px solid #808080;
  height: 400px;
  width: 100%;
  position: relative;
}
.walkcourse_show_image {
  display: inline-block;
  width: 50%;
  margin: 25px 0 25px 25px;
}
.walkcourse_show_description {
  display: inline-block;
  border: 1px solid #808080;
  height: 350px;
  width: 47%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  padding-left: 20px;
  padding-top: 15px;
}



.overall_view {
  margin: 100px 0 50px 0;
}
.total_time {
  font-size: 20px;
}
.total_time_description {
  display: inline-block;
  border: 1px solid #808080;
  width: 350px;
  height: 50px;
  text-align: center;
  line-height: 250%;
  border-bottom: none;
}
.total_time_sum {
  display: inline-block;
  border: 1px solid #808080;
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 250%;
  margin-left: -7px;
  padding-left: 15px;
  border-bottom: none;
}


.itinerary {
  border: 1px solid #808080;
  height: 400px;
  padding: 40px 70px;
  text-align: center;
}


.vertical_write {
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
  white-space: nowrap;
}
.itinerary_name_time {
  position: relative;
}
.itinerary_frame {
  border: 1px solid #808080;
  padding: 100px 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  height: 300px;
  width: 70px;
}
.itinerary_arrow_frame {
  display: inline-block;
  margin-top: 140px;
}
.fa-arrow-right {
  vertical-align: middle;
}
.show_time_required {
  border: 1px solid #808080;
  border-radius: 10px;
  position: absolute;
  background-color: #EEEEEE;
  bottom: -3px;
  right: -5px;
  width: 80px;
  padding: 10px 20px;
  white-space: nowrap;
}
.itinerary_spot_name{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}



// spot表示部分
.spot_fields {
  margin-top: 150px;
  font-size: 20px;
}
.spots_contents {
  margin-bottom: 100px;
}
.show_nametime {
  position: relative;
  height: 50px;
}
.courseshow_spotname {
  display: inline-block;
  border: 1px solid #808080;
  width: 30%;
  height: 50px;
  text-align: center;
  line-height: 250%;
  border-bottom: none;
}
.courseshow_requiretime {
  display: inline-block;
  border: 1px solid #808080;
  width: 25%;
  height: 50px;
  text-align: center;
  line-height: 250%;
  margin-left: -7px;
  padding-left: 15px;
  border-bottom: none;
}
.courseshow_requiretime_description {
  display: inline-block;
  float: left;
  padding-left: 20px;
}
.station_name {
  display: inline-block;
  float: right;
  line-height: 250%;
  margin-right: 25px;
}

.spot_images {
  height: 400px;
  width: 100%;
  border: 1px solid #808080;
  position: relative;
  border-bottom: none;
}
.spot_spotpic_image {
  display: inline-block;
  width: 45%;
  margin: 25px 25px 25px 25px;
  height: 350px;
}
.spot_map_info {
  height: 350px;
  width: 45%;
  border: 1px solid #808080;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 25px 25px 25px;
}
.spot_map_address {
  padding: 8px 0 8px 8px;
}
.show_description {
  border: 1px solid #808080;
  padding: 10px 25px 10px 25px;
  height: 80px;
}

.back_button {
  width: 30%;
  margin: 0 auto;
}
