<header>
    <%= link_to image_tag('/assets/toppage_logo.png'), '/' %>
    <div class="header-right">
        <ul class="header-right-up">
            <% if logged_in? %>
                <li class="btn btn-default btn-block post_course"><%= link_to 'コースを投稿', new_walkcourse_path %></li>
                <li class="btn btn-default btn-block mypage"><%= link_to 'マイページ', user_path(current_user) %></li>
                <li class="btn btn-default btn-block logout"><%= link_to 'ログアウト', logout_path, method: :delete  %></li>
            <% else %>
                <li class="btn btn-default btn-block signup"><%= link_to '新規登録', signup_path %></li>
                <li class="btn btn-default btn-block login"><%= link_to 'ログイン', login_path %></li>
            <% end %>
        </ul>

        <div class="header-right-down">
          <% if @search %>
            <%= search_form_for @search, url: search_walkcourses_path do |f| %>
              <%= f.search_field :start_station_or_goal_station_or_title_or_description_or_spots_name_or_spots_address_or_spots_description_cont,class: "search_form", placeholder: "検索ワードを入力してください", size: "34x10" %>
              <%= button_tag type: 'submit', style: 'border-style: none;' do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
</header>
